@import "../../variables";

.crew {
  background-image: url("../../assets/crew/background-crew-desktop.jpg    ");
  height: 919px;
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    display: flex;

    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;
    text-transform: uppercase;

    color: #ffffff;
    margin-top: 76px;
    margin-left: 166.5px;
  }

  &__title span {
    font-family: $barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */

    letter-spacing: 4.725px;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.25;
    margin-right: 24px;
  }

  &__job {
    width: 310px;
    font-family: $bellefair;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-transform: uppercase;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.5;
    margin-top: 154px;
    text-align: left;
    margin-left: 165.5px;
  }

  &__name {
    font-family: $bellefair;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-transform: uppercase;

    color: #ffffff;
    margin-left: 165px;
    margin-top: 15px;
    margin-bottom: 27px;
  }

  &__descr {
    width: 444px;
    height: 128px;
    text-align: left;
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */

    color: #d0d6f9;
    margin-left: 165.5px;
    margin-bottom: 120px;
  }

  &__btn-list {
    display: flex;
    margin-left: 167px;
  }

  &__btn-item {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background: #ffffff;
    border: none;
    mix-blend-mode: normal;
    opacity: 0.17;
    margin-right: 24px;
    cursor: pointer;
  }

  &__img img {
    position: absolute;
    right: 110px;
    margin-top: 64px;
  }
}

.active__crew {
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 1;
}

.crew__img img {
  bottom: 0;
}
