@import "../../variables";

.home {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 919px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__info {
    margin-top: 251px;
    margin-left: 165px;
  }
  &__title {
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    margin-right: 60px;
    letter-spacing: 4.725px;

    color: #d0d6f9;
  }

  &__space {
    font-family: $bellefair;
    font-style: normal;
    font-weight: 400;
    font-size: 150px;
    line-height: 27px;
    /* identical to box height */

    color: #ffffff;
  }

  &__descr {
    width: 454px;
    height: 128px;
    font-family: $barlow;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;

    color: #d0d6f9;
  }
}

.home__button {
  position: absolute;
  cursor: pointer;
  margin-top: 113px;
  margin-left: -22px;
  width: 274px;
  height: 274px;
  background-color: #ffffff;
  color: #0b0d17;
  border-radius: 50%;
  z-index: 1000;
}

.home__button span {
  position: absolute;
  margin-top: 120px;
  margin-left: -75px;

  font-family: $bellefair;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 37px;
  /* identical to box height */

  letter-spacing: 2px;

  color: #0b0d17;
}

.button {
  display: block;
  cursor: pointer;
  margin-left: -399px;
  margin-top: 244px;

  border-radius: 50%;
}

@media (max-width: 1025px) {
  .home {
    background-image: url("../../assets/home/background-home-tablet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;
    width: 100vw;
    &__info {
      margin: 0 auto;
      margin-top: 106px;
    }
    &__title {
      font-family: $barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
      /* identical to box height */

      text-align: center;
      margin-left: 70px;
      letter-spacing: 3.375px;

      color: #d0d6f9;
    }
    &__button {
      width: 242px;
      height: 242px;
      margin: 0 auto;
      margin-top: 376px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__button span {
      margin-top: 106px;
    }

    &__descr {
      font-family: $barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 28px;
      /* or 175% */

      text-align: center;

      color: #d0d6f9;
    }
    &__space {
      font-size: 150px;

      margin: 70px 0;

      color: #ffffff;
    }
  }
}
