@import "../../variables";

.tech {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  height: 919px;
  background-repeat: no-repeat;
  background-size: cover;
  &__wrapper {
    display: flex;
  }
  &__info-wrapper {
    display: flex;
  }
  &__descr-wrapper {
    display: flex;
  }
  &__title {
    width: 320px;
    margin-left: 166.5px;
    margin-top: 76px;
    font-family: $barlow;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 4.72px;

    text-align: left;
    color: #d0d6f9;
  }
  &__title span {
    font-family: $barlow;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    /* identical to box height */
    margin-right: 24px;
    letter-spacing: 4.725px;

    color: #ffffff;

    mix-blend-mode: normal;
    opacity: 0.25;
  }
  &__img {
    position: absolute;
    right: 0;
    margin-top: 12px;
  }

  &__img img {
  }
  &__btn-item {
    width: 80px;
    height: 80px;
    mix-blend-mode: normal;
    opacity: 0.75;
    background-color: #0b0d17;
    border: 1px solid #ffffff;
    border-radius: 100%;

    margin-bottom: 32px;
    cursor: pointer;
  }
  &__btn-item span {
    font-family: $bellefair;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 2px;

    color: #ffffff;
  }

  &__name {
    margin-top: 137px;
    width: 212px;
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: left;
    color: #d0d6f9;
  }
  &__btn-list {
    width: 150px;
    margin-left: 165px;
    margin-top: 137px;
    margin-right: 80px;
  }

  &__subtitle {
    font-family: $bellefair;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    text-align: left;
    color: #ffffff;
    margin-top: 11px;
    margin-bottom: 17px;
  }

  &__descr {
    width: 444px;
    font-family: $barlow;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    /* or 178% */
    text-align: left;

    color: #d0d6f9;
  }
}

.active-tech {
  background: #ffffff;
  opacity: 1;
}

.active-tech span {
  color: #0b0d17;
}

.wrapper__tech {
  margin-right: 130px;
}

.tech__land {
  display: none;
}

@media (max-width: 1300px) {
  .tech {
    height: 1100px;
  }
}

@media (max-width: 1350px) {
  .tech {
    &__info {
      &-wrapper {
        display: block;
        width: 100%;
      }
    }

    &__name {
      margin-left: 53px;
      margin-top: 170px;
    }

    &__subtitle {
      font-size: 40px;
      font-weight: 400;
      line-height: 46px;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
    }

    &__descr {
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: center;
    }
  }

  .tech__title {
    margin-left: 62.5px;
  }

  .tech__btn-list {
    display: flex;
    margin: 0 auto;
    margin-top: 56px;
    margin-bottom: -150px;
    width: 280px;
  }

  .tech__btn-item {
    margin-right: 16px;
  }

  .wrapper__tech {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .tech__land {
    width: 100%;
    height: 310px;

    margin: 0 auto;
    display: block;
    margin-top: 60px;
    object-fit: fill;
  }
  .tech__img {
    display: none;
  }
}

@media (max-width: 780px) {
  .tech {
    &__land {
      width: 100%;
    }
  }
}

@media (max-width: 600px) {
  .tech {
    height: 100%;
    &__title {
      color: rgb(255, 255, 255);
      font-family: $barlow Condensed;
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 2.7px;
      text-align: left;
      text-transform: uppercase;
      width: 190px;
      span {
        color: rgb(255, 255, 255);
        font-family: $barlow Condensed;
        font-size: 16px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 2.7px;
        text-align: left;
      }
    }

    &__land {
      height: 170px;
    }

    &__btn {
      &-list {
        width: 168px;
      }

      &-item {
        width: 40px;
        height: 40px;

        span {
          font-family: $bellefair;
          font-size: 16px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: 1px;
          text-align: center;
        }
      }
    }

    &__descr {
      width: 327px;
      height: 150px;

      color: rgb(208, 214, 249);
      font-family: $barlow;
      font-size: 15px;
      font-weight: 400;
      line-height: 25px;
      letter-spacing: 0px;
      text-align: center;
    }

    &__subtitle {
      color: rgb(255, 255, 255);
      font-family: $bellefair;
      font-size: 24px;
      font-weight: 400;
      line-height: 28px;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
    }
  }
}

@media (max-width: 340px) {
  .tech {
    &__descr {
      width: 90%;
    }
  }
}
