@import "../../variables";

.nav {
  position: relative;
  &__logo {
    margin-left: 55px;
    margin-top: 64px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  &__bar {
    margin-top: 40px;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  &__list {
    display: flex;
    margin-right: 50px;
    margin-left: 99px;
    margin-top: 39px;
    gap: 19px;
    &-item {
      list-style-type: none;
      margin-right: 30px;
      text-transform: uppercase;
      font-family: $barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;

      color: #ffffff;
    }

    &-item:hover {
      cursor: pointer;
      padding-bottom: 35px;
      border-bottom: 3px solid white;
    }

    &-item span {
      font-family: $barlow;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      margin-right: 10px;
      color: #ffffff;
    }
  }
}

.hr {
  position: absolute;
  width: 473px;
  height: 1px;
  margin-left: -443px;
  margin-top: 46px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.route__link {
  text-decoration: none;
  color: white;
}

@media (max-width: 1380px) {
  .hr {
    display: none;
  }
}

@media (max-width: 1300px) {
  .nav {
    &__bar {
      width: 450px;
      margin-top: 0;
    }
    &__list {
      width: 356px;
      margin-left: 0;
      &-item span {
        display: none;
      }
      &-item {
        font-size: 14px;
      }
    }
  }
}
