@import "../../variables";

.menu {
  cursor: pointer;
  margin: 0 auto;
  padding-left: 1.25em;
  position: relative;
  width: 40px;
  height: 40px;
}
.menu-global {
  backface-visibility: hidden;
  position: absolute;
  left: 0;
  border-top: 7px solid black;
  width: 100%;
  transition: 0.55s;
}
.menu-top {
  top: 0;
  width: 24px;
  height: 3px;
  background: white;
  margin-bottom: 5px;
  transition: 0.55s;
}
.menu-middle {
  top: 18px;
  width: 24px;
  height: 3px;
  background: white;
  margin-bottom: 5px;
  transition: 0.55s;
}
.menu-bottom {
  top: 36px;
  width: 24px;
  height: 3px;
  background: white;
  transition: 0.55s;
}
.menu-top-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(50deg);
  transition: 0.4s 0.4s;
  margin-bottom: -11px;
}
.menu-middle-click {
  opacity: 0;
  transition: 0.55s;
}
.menu-bottom-click {
  backface-visibility: hidden;
  top: 15px;
  transform: rotate(-410deg);
  transition: 0.4s 0.4s;
}
.nav {
  position: relative;
  &__logo {
    margin-left: 55px;
    margin-top: 64px;
  }
  &__wrapper {
    display: flex;
    justify-content: center;
    justify-content: space-between;
  }
  &__bar {
    margin-top: 40px;
    width: 830px;
    height: 96px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(40.7742px);
  }

  &__list {
    display: flex;
    margin-right: 50px;
    margin-left: 99px;
    margin-top: 39px;
    gap: 19px;
    &-item {
      list-style-type: none;
      margin-right: 30px;
      text-transform: uppercase;
      font-family: $barlow;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;

      color: #ffffff;
    }

    &-item:hover {
      cursor: pointer;
      padding-bottom: 35px;
      border-bottom: 3px solid white;
    }

    &-item span {
      font-family: $barlow;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 2.7px;
      margin-right: 10px;
      color: #ffffff;
    }
  }
}

.nav__burger {
  display: none;
}
.active {
  display: block;
}

.nav__menu-burger {
  display: none;
}

.hr {
  position: absolute;
  width: 473px;
  height: 1px;
  margin-left: -443px;
  margin-top: 46px;
  background: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.25;
}

.route__link {
  text-decoration: none;
  color: white;
}

@media (max-width: 1380px) {
  .hr {
    display: none;
  }
}

@media (max-width: 1300px) {
  .nav {
    &__bar {
      width: 450px;
      margin-top: 0;
    }
    &__list {
      width: 356px;
      margin-left: 0;
      &-item span {
        display: none;
      }
      &-item {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 590px) {
  .nav {
    &__bar {
      display: none;
    }

    &__logo {
      margin-top: 23.67px;
    }

    &__menu-burger {
      margin-top: 35px;
      margin-right: 15px;
      z-index: 4;
    }

    &__burger {
      position: absolute;
      width: 254px;
      height: 100vh;
      backdrop-filter: blur(81.55px);
      background: rgba(255, 255, 255, 0.04);
      right: 0;
      z-index: 3;

      &-link {
        margin-top: 118px;
        text-align: left;
      }
    }
  }

  .burger__route-link {
    color: rgb(255, 255, 255);
    font-family: $barlow Condensed;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: left;
    text-decoration: none;
  }

  .burger__route-link span {
    color: rgb(255, 255, 255);
    font-family: $barlow Condensed;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 2.7px;
    text-align: left;
    margin-right: 11px;
    margin-left: 32px;
  }

  .nav__burger-route {
    margin-bottom: 32px;
  }

  .nav__menu-burger {
    display: block;
  }
}
